.starrySkySection {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.starrySkyBg {
    width: 100%;
    display: block;
}

.asteroides1,
.asteroides2,
.asteroides3,
.asteroides4,
.asteroides5,
.blackhole1,
.blackhole2,
.blackhole3,
.rings1,
.rings2,
.rings3,
.rings4,
.cloudsPlanet1,
.cloudsPlanet1-clone {
    position: absolute;
    z-index: 3;
}

.asteroides1,
.asteroides2,
.asteroides3 {
    animation-fill-mode: none;
}

.asteroides1,
.asteroides1-clone,
.asteroides2,
.asteroides2-clone,
.asteroides3,
.asteroides3-clone {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0vw;
    will-change: transform;
}

.asteroides1,
.asteroides1-clone {
    top: 29vw;
    z-index: 1;
}

.asteroides2,
.asteroides2-clone {
    top: 25vw;
    z-index: 3;
}

.asteroides3,
.asteroides3-clone {
    top: 22vw;
    z-index: 2;
}

.asteroides1-clone,
.asteroides2-clone,
.asteroides3-clone {
    left: 100vw;
}

.blackhole2 {
    top: 40vw;
    left: 10vw;
    width: 17vw;
    height: auto;
}

/* Utilisation d'un sélecteur pour plusieurs classes ayant les mêmes propriétés */
.blackhole1,
.blackhole3,
.rings1,
.rings2,
.rings3,
.rings4 {
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
}


.bigPlanet {
    position: absolute;
    top: 44vw;
    left: 62vw;
    width: 50vw;
    height: 50vw;
    z-index: 5;
    border-radius: 50%;
}

.planet1 {
    position: absolute;
    top: 8vw;
    left: 77vw;
    width: 6vw;
    height: 6vw;
    z-index: 1;
}

.planet2 {
    position: absolute;
    top: 10vw;
    left: 3vw;
    width: 6vw;
    height: auto;
    z-index: 1;
}

.planet3 {
    position: absolute;
    top: 43vw;
    left: 56vw;
    width: 8vw;
    height: auto;
    z-index: 1;
}

.planet4 {
    position: absolute;
    top: 36vw;
    left: 6vw;
    width: 13vw;
    height: auto;
    z-index: 1;
}

.planet5 {
    position: absolute;
    top: 122vw;
    left: 28vw;
    width: 12vw;
    height: 12vw;
    z-index: 1;
}

.planet6 {
    position: absolute;
    top: 100vw;
    left: 60vw;
    width: 8vw;
    height: 8vw;
    z-index: 1;
}

.planet7 {
    position: absolute;
    top: 58vw;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    z-index: 1;
}

.planet8 {
    position: absolute;
    top: 101vw;
    left: 21vw;
    width: 10vw;
    height: 10vw;
    z-index: 1;
}

.planet9 {
    position: absolute;
    top: 120vw;
    left: 60vw;
    width: 9vw;
    height: 9vw;
    z-index: 1;
}

.planet10 {
    position: absolute;
    top: 103vw;
    left: 32vw;
    width: 4vw;
    height: 4vw;
    z-index: 1;
}

.planet11 {
    position: absolute;
    top: 66vw;
    left: 17vw;
    width: 20vw;
    height: 20vw;
    z-index: 1;
}


/* A enlever */
.blackhole1 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
    z-index: 1;
}

.blackhole2 {
    position: absolute;
    top: 43vw;
    left: 11vw;
    width: 9vw;
    height: auto;
    z-index: 1;
}

.blackhole3 {
    position: absolute;
    top: 23vw;
    left: 86vw;
    width: 4vw;
    height: auto;
    z-index: 1;
}

.rings1 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
    z-index: 1;
}

.rings2 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
    z-index: 1;
}

.rings3 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
    z-index: 1;
}

.rings4 {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 7vw;
    height: auto;
    z-index: 1;
}