.fog1Container,
.fog2Container,
.fog3Container,
.fog4Container,
.fog5Container,
.fog6Container {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.fog1 {
    width: 45vw;
    height: auto;
}

.fog2 {
    width: 45vw;
    height: auto;
}

.fog3 {
    width: 40vw;
    height: auto;
}

.fog4,
.fog5,
.fog6 {
    width: 15vw;
    height: auto;
}

.crystalCContainer,
.crystalRContainer,
.crystalYContainer,
.crystalSContainer,
.crystalTContainer,
.crystalAContainer,
.crystalLContainer {
    position: absolute;
    z-index: 4;
}

.scrumSContainer,
.scrumCContainer,
.scrumRContainer,
.scrumUContainer,
.scrumMContainer {
    position: absolute;
    z-index: 5;
}

.scrumSContainer {
    top: 24vw;
    left: 36vw;
}

.scrumCContainer {
    top: 24.5vw;
    left: 42vw;
}

.scrumRContainer {
    top: 24.9vw;
    left: 48vw;
}

.scrumUContainer {
    top: 25vw;
    left: 55.3vw;
}

.scrumMContainer {
    top: 24.7vw;
    left: 63vw;
}

.crystalCContainer {
    top: 15.30vw;
    left: 28vw;
}

.crystalRContainer {
    top: 16.5vw;
    left: 34vw;
}

.crystalYContainer {
    top: 16.6vw;
    left: 39vw;
}

.crystalSContainer {
    top: 16.5vw;
    left: 43.8vw;
}


.crystalTContainer {
    top: 16vw;
    left: 48.4vw;
}


.crystalAContainer {
    top: 16.3vw;
    left: 53vw;
}


.crystalLContainer {
    top: 16.3vw;
    left: 59vw;
}

.fog1Container {
    top: 14vw;
    left: 24vw;
    z-index: 3;
}

.fog2Container {
    top: 16vw;
    left: 28vw;
    z-index: 4;
}

.fog3Container {
    top: 20vw;
    left: 31vw;
    z-index: 4;
}

.fog4Container {
    top: 19vw;
    left: 53vw;
    z-index: 4;
}

.fog5Container {
    top: 15vw;
    left: 32vw;
    z-index: 4;
}

.fog6Container {
    top: 21vw;
    left: 41vw;
    z-index: 5;
}

.scrumS {
    width: 5vw;
    height: auto;
}

.scrumC {
    width: 5.6vw;
    height: auto;
}

.scrumR {
    width: 7.8vw;
    height: auto;
}

.scrumU {
    width: 7vw;
    height: auto;
}

.scrumM {
    width: 5.6vw;
    height: auto;
}

.crystalC {
    width: 5.5vw;
    height: auto;
}

.crystalR {
    width: 6vw;
    height: auto;
}

.crystalY {
    width: 5vw;
    height: auto;
}

.crystalS {
    width: 4.5vw;
    height: auto;
}


.crystalT {
    width: 5.2vw;
    height: auto;
}


.crystalA {
    width: 5.6vw;
    height: auto;
}


.crystalL {
    width: 5.7vw;
    height: auto;
}