.completeSection {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: clip;
}

.loadingScreen {
    position: fixed;
    background-image: url('assets/starrySkyAssets/loadingScreen.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.loadingTitle h1 {
    position: absolute;
    top: 3%;
    left: 25.5%;
    color: whitesmoke;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 2vw;
    font-size: 5vh;
}

.loadingTitle h2 {
    position: absolute;
    top: 10%;
    left: 60%;
    font-size: medium;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: 3vh;
    letter-spacing: 0.5vw;
}

.launchButton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.launchButton img {
    width: 20vw;
    height: 20vw;
}

.launchButton:hover {
    transform: translate(-50%, -100%) scale(1.5);
    animation: waves 2s linear infinite;
}

.launchButton.disabled {
    cursor: not-allowed;
}

.messageContainer {
    position: absolute;
    top: 76vh;
    left: 65vw;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.handwrittenMessage {
    font-size: 5vh;
    white-space: nowrap;
    overflow: hidden;
    color: blanchedalmond;
    font-family: 'Dancing Script', cursive;
    animation: writeMessage 5s steps(100) forwards;

}

.starrySkyBg {
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow-x: hidden;
}

.asteroides1,
.asteroides1-clone,
.asteroides2,
.asteroides2-clone,
.asteroides3,
.asteroides3-clone {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0vw;

}

.asteroides1,
.asteroides1-clone {
    top: 29vw;
    z-index: 1;
}

.asteroides2,
.asteroides2-clone {
    top: 25vw;
    z-index: 3;
}

.asteroides3,
.asteroides3-clone {
    top: 22vw;
    z-index: 2;
}

.asteroides1-clone,
.asteroides2-clone,
.asteroides3-clone {
    left: 100vw;
}



@keyframes waves {
    0% {
        box-shadow: 0 0 0 0rem rgba(0, 1, 1, 0.2), 0 0 0 1rem rgba(0, 1, 1, 0.2),
            0 0 0 2rem rgba(0, 1, 1, 0.2), 0 0 0 5rem rgba(0, 1, 1, 0.2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(0, 1, 1, 0.2), 0 0 0 2rem rgba(0, 1, 1, 0.2),
            0 0 0 5rem rgba(0, 1, 1, 0.2), 0 0 0 8rem rgba(0, 1, 1, 0);
    }
}

@keyframes writeMessage {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}