.completeSection {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: clip;
}

.loadingScreen {
    position: fixed;
    background-image: url('assets/starrySkyAssets/loadingScreen.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}


.launchButton {
    position: absolute;
    top: 33%;
    left: 45.5%;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.launchButton:hover {
    transform: scale(1.5);
    animation: waves 2s linear infinite;
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0rem rgba(0, 1, 1, 0.2), 0 0 0 1rem rgba(0, 1, 1, 0.2),
            0 0 0 2rem rgba(0, 1, 1, 0.2), 0 0 0 5rem rgba(0, 1, 1, 0.2);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(0, 1, 1, 0.2), 0 0 0 2rem rgba(0, 1, 1, 0.2),
            0 0 0 5rem rgba(0, 1, 1, 0.2), 0 0 0 8rem rgba(0, 1, 1, 0);
    }
}

.launchButton.disabled {
    background-color: #aaa;
    /* Couleur pour le bouton désactivé */
    cursor: not-allowed;
}

.starrySkyBg {
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow-x: hidden;
}

.asteroides1,
.asteroides1-clone,
.asteroides2,
.asteroides2-clone,
.asteroides3,
.asteroides3-clone {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0vw;

}

.asteroides1,
.asteroides1-clone {
    top: 29vw;
    z-index: 1;
}

.asteroides2,
.asteroides2-clone {
    top: 25vw;
    z-index: 3;
}

.asteroides3,
.asteroides3-clone {
    top: 22vw;
    z-index: 2;
}

.asteroides1-clone,
.asteroides2-clone,
.asteroides3-clone {
    left: 100vw;
}